
aside

  if theme.avator
    a(href=(config.root) title=config.title)
      div.avator

  a.home(href=(config.root) title=config.title)= config.title
  nav
    a= config.subtitle

  ul.product-overview
    each url, label in theme.menu
      li
        if url == '/'
          a(href=(config.root))= label
        else 
          a(href=(config.root + url))= label
  
  p.efe-desc= config.description

  dl.tags
    dt Tages
    each tag in site.tags.data
      dd
        a(href=url_for('/tags/' + tag.name))= tag.name